
label{
    font-weight: bolder;
    font-size: 30px;
}

button{
    margin: 0px 5px 0px 5px;
}
section{
    line-height: 35px;
    margin: 10px;
}

.card-img{
    padding: 10px ;
}
aside{
    
}
a:hover{
 text-decoration: none;
}
.tieuDe{
    background-color: goldenrod;
    text-align: center;
    
    line-height: 50px;
    font-size: 20px;
    border-radius: 3px 5px 0px 0px;
    font-weight: bold;
    color: white;
    
}
.main{
    margin-top: 20px;
}
.card-button-article{
    width: 50%;
    background-color: rgb(238, 206, 81);
    color: white;
    border: 1px solid white
    ;
}
.card-button-article:hover{
    background-color: cornflowerblue;
}

